<div class="content">
  <h1>Players</h1>
  <button ng-click="order= 'name'">Order by Name</button>
  <button ng-click="order= 'foot'">Order by Foot</button>
  <input type="text" ng-model="search" placeholder="Search for a player"/>
  <ul>
    <li ng-repeat="player in players | orderBy: order | filter: search">
      <h3>{{player.name}} - {{player.foot}}</h3>
      <div class="remove" ng-click="">
        X
      </div>
    </li>
  </ul>
  <form ng-submit="addPlayer()">
    <input type="text" placeholder="name" ng-model="newPlayer.name"/>
    <input type="text" placeholder="foot" ng-model="newPlayer.foot"/>
    <input type="submit" value="Add new player"/>
  </form>
</div>
