<div class="content">
  <form name="issueForm" novalidate>
    <input type="text" placeholder="Issue Name" name="name" ng-model="issue.name" ng-required="true">
    <div ng-show="issueForm.name.$touched && issueForm.name.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
    </div>
    <input type="text" placeholder="Issue Details" name="details" ng-model="issue.details" ng-required="true">
    <div ng-show="issueForm.details.$touched && issueForm.details.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter details</small>
    </div>
    <input type="submit" value="Add" ng-disabled="issueForm.$invalid">
  </form>
</div>
